<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='icons/favicon.svg') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    <meta name="apple-mobile-web-app-title" content="MyWebSite">
    <link rel="manifest" href="{{ url_for('static', filename='icons/web-app-manifest-512x512.png') }}">
    <title>Main</title>

</head>
<body>
    <div id="container">
        <h1 id="h">Welcome</h1>
        <a href="./login">
            <button class="button">Login</button>
        </a>
        <br> <br>
        <a href="./register">
            <button class="button">Register</button>
        </a>
    </div>
</body>
</html>